<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.greenvalleygp2">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label=""
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Material3.Light">

        <service
            android:name=".MyService"
            android:enabled="true"
            android:exported="true"
            android:parentActivityName='.LoginPage'>

        </service>

        <activity
            android:name=".FirstPic"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AddFarm"
            android:exported="false" />
        <activity
            android:name=".FarmOwnerSignup"
            android:exported="false" />
        <activity
            android:name=".LoginPage"
            android:exported="true">

        </activity>
        <activity
            android:name=".EditProfileFarmOwner"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>